.container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .statistics {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1);
  }
  
  .title {
    margin-top: 30px;
    opacity: 75%;
  }
  
  .list {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .item:first-child {
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 100px;
  }
  
  .item:nth-child(2) {
    background-color: rgb(30, 106, 221);
    color: white;
    width: 100px;
    height: 100px;
  }
  
  .item:nth-child(3) {
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
  }
  
  .item:last-child {
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
  }